java-cohesion-client/src/main/resources/segregated/cohesion_vbtp.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!-- Modified from the stock wsdl provided by cohesion to include VBTP XSDs. -->

<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:tns="http://fidelityifs.com/webservices"
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:vbtp="http://schemas.fidelityinfoservices.com/webservices/miser/vbtp"
        targetNamespace="http://fidelityifs.com/webservices"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        name="cohesion">
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://fidelityifs.com/webservices"
                  xmlns="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <s:import schemaLocation="vbtp_types.xsd" namespace="http://schemas.fidelityinfoservices.com/webservices/miser/vbtp" id="vbtp" />
            <s:element name="Logon">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="stationName" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="tellerNbr" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="cashBoxNbr" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LogonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="LogonResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Logoff">
                <s:complexType />
            </s:element>
            <s:element name="LogoffResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="LogoffResult" type="s:boolean" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="IsSessionPresent">
                <s:complexType />
            </s:element>
            <s:element name="IsSessionPresentResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="IsSessionPresentResult" type="s:boolean" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetHostReply">
                <s:complexType>
                    <s:sequence>
                        <!-- <s:element minOccurs="0" maxOccurs="1" name="sTran" type="s:string" /> -->
                        <s:element minOccurs="0" maxOccurs="1" name="sTran" type="tns:sTran" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="sTran">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="VBTPRequest" type="vbtp:VBTPRequest"></s:element>
                </s:sequence>
            </s:complexType>
            <s:complexType name="GetHostReplyResult">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="VBTPReply" type="vbtp:VBTPReply"></s:element>
                </s:sequence>
            </s:complexType>
            <s:element name="GetHostReplyResponse">
                <s:complexType>
                    <s:sequence>
                        <!-- <s:element minOccurs="0" maxOccurs="1" name="GetHostReplyResult" type="s:string" /> -->
                        <s:element minOccurs="0" maxOccurs="1" name="GetHostReplyResult" type="tns:GetHostReplyResult"></s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SessionCreate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="station" type="tns:MiserStation" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="MiserStation">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="TellerNumber" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="PostingDate" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="DailyVariableDate" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="CashBoxNumber" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="BeginningCash" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="SessionCreateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SessionCreateResult" type="tns:LogonResult" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="LogonResult">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="HostMessages" type="tns:ArrayOfString" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="SessionEnd">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SessionEndResponse">
                <s:complexType />
            </s:element>
            <s:element name="SessionDisconnect">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="inactivateTeller" type="s:boolean" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SessionDisconnectResponse">
                <s:complexType />
            </s:element>
            <s:element name="SessionGetHostReply">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="sTran" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SessionGetHostReplyResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SessionGetHostReplyResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>

        </s:schema>
    </wsdl:types>

    <wsdl:message name="LogonSoapIn">
        <wsdl:part name="parameters" element="tns:Logon" />
    </wsdl:message>
    <wsdl:message name="LogonSoapOut">
        <wsdl:part name="parameters" element="tns:LogonResponse" />
    </wsdl:message>
    <wsdl:message name="LogoffSoapIn">
        <wsdl:part name="parameters" element="tns:Logoff" />
    </wsdl:message>
    <wsdl:message name="LogoffSoapOut">
        <wsdl:part name="parameters" element="tns:LogoffResponse" />
    </wsdl:message>
    <wsdl:message name="IsSessionPresentSoapIn">
        <wsdl:part name="parameters" element="tns:IsSessionPresent" />
    </wsdl:message>
    <wsdl:message name="IsSessionPresentSoapOut">
        <wsdl:part name="parameters" element="tns:IsSessionPresentResponse" />
    </wsdl:message>
    <wsdl:message name="GetHostReplySoapIn">
        <wsdl:part name="parameters" element="tns:GetHostReply" />
    </wsdl:message>
    <wsdl:message name="GetHostReplySoapOut">
        <wsdl:part name="parameters" element="tns:GetHostReplyResponse" />
    </wsdl:message>
    <wsdl:message name="SessionCreateSoapIn">
        <wsdl:part name="parameters" element="tns:SessionCreate" />
    </wsdl:message>
    <wsdl:message name="SessionCreateSoapOut">
        <wsdl:part name="parameters" element="tns:SessionCreateResponse" />
    </wsdl:message>
    <wsdl:message name="SessionEndSoapIn">
        <wsdl:part name="parameters" element="tns:SessionEnd" />
    </wsdl:message>
    <wsdl:message name="SessionEndSoapOut">
        <wsdl:part name="parameters" element="tns:SessionEndResponse" />
    </wsdl:message>
    <wsdl:message name="SessionDisconnectSoapIn">
        <wsdl:part name="parameters" element="tns:SessionDisconnect" />
    </wsdl:message>
    <wsdl:message name="SessionDisconnectSoapOut">
        <wsdl:part name="parameters" element="tns:SessionDisconnectResponse" />
    </wsdl:message>
    <wsdl:message name="SessionGetHostReplySoapIn">
        <wsdl:part name="parameters" element="tns:SessionGetHostReply" />
    </wsdl:message>
    <wsdl:message name="SessionGetHostReplySoapOut">
        <wsdl:part name="parameters" element="tns:SessionGetHostReplyResponse" />
    </wsdl:message>

    <wsdl:portType name="CohesionConnectSoap">
        <wsdl:operation name="Logon">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Connects the station to MISER. Requires the web service to be configured using Identity mode and NT authentication.</wsdl:documentation>
            <wsdl:input message="tns:LogonSoapIn" />
            <wsdl:output message="tns:LogonSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="Logoff">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnects the station from MISER. Requires the web service to be configured using Identity mode and NT authentication.</wsdl:documentation>
            <wsdl:input message="tns:LogoffSoapIn" />
            <wsdl:output message="tns:LogoffSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="IsSessionPresent">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns true if a connection exists for the user. Requires the web service to configured using Identity mode and NT authentication.</wsdl:documentation>
            <wsdl:input message="tns:IsSessionPresentSoapIn" />
            <wsdl:output message="tns:IsSessionPresentSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetHostReply">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Executes the specified MISER transaction and gets the reply.</wsdl:documentation>
            <wsdl:input message="tns:GetHostReplySoapIn" />
            <wsdl:output message="tns:GetHostReplySoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SessionCreate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Connects the station to MISER. Only valid when operating in Identity mode. Used without NT authentication.</wsdl:documentation>
            <wsdl:input message="tns:SessionCreateSoapIn" />
            <wsdl:output message="tns:SessionCreateSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SessionEnd">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnects the station from MISER. Inactivates teller. Only valid when operating in Identity mode.</wsdl:documentation>
            <wsdl:input message="tns:SessionEndSoapIn" />
            <wsdl:output message="tns:SessionEndSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SessionDisconnect">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnects the station from MISER. Allows control over inactivating teller. Only valid when operating in Identity mode.</wsdl:documentation>
            <wsdl:input message="tns:SessionDisconnectSoapIn" />
            <wsdl:output message="tns:SessionDisconnectSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SessionGetHostReply">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Executes the specified MISER transaction and gets the reply. Requires a session identifier.</wsdl:documentation>
            <wsdl:input message="tns:SessionGetHostReplySoapIn" />
            <wsdl:output message="tns:SessionGetHostReplySoapOut" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CohesionConnectSoap" type="tns:CohesionConnectSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Logon">
            <soap:operation soapAction="http://fidelityifs.com/webservices/Logon" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Logoff">
            <soap:operation soapAction="http://fidelityifs.com/webservices/Logoff" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsSessionPresent">
            <soap:operation soapAction="http://fidelityifs.com/webservices/IsSessionPresent" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetHostReply">
            <soap:operation soapAction="http://fidelityifs.com/webservices/GetHostReply" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionCreate">
            <soap:operation soapAction="http://fidelityifs.com/webservices/SessionCreate" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionEnd">
            <soap:operation soapAction="http://fidelityifs.com/webservices/SessionEnd" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionDisconnect">
            <soap:operation soapAction="http://fidelityifs.com/webservices/SessionDisconnect" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionGetHostReply">
            <soap:operation soapAction="http://fidelityifs.com/webservices/SessionGetHostReply" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="CohesionConnectSoap12" type="tns:CohesionConnectSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Logon">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/Logon" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Logoff">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/Logoff" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsSessionPresent">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/IsSessionPresent" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetHostReply">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/GetHostReply" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionCreate">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/SessionCreate" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionEnd">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/SessionEnd" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionDisconnect">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/SessionDisconnect" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SessionGetHostReply">
            <soap12:operation soapAction="http://fidelityifs.com/webservices/SessionGetHostReply" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CohesionConnect">
        <wsdl:port name="CohesionConnectSoap" binding="tns:CohesionConnectSoap">
            <soap:address location="http://fidelityifs.com/cohesionconnect.asmx" />
        </wsdl:port>
        <wsdl:port name="CohesionConnectSoap12" binding="tns:CohesionConnectSoap12">
            <soap12:address location="http://fidelityifs.com/cohesionconnect.asmx" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>